
@{
    ViewData["Title"] = "Selling Invoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-md-3">
    <h4 class="mb-3 page-header">Selling Payment Summary <small id="totalAmount"></small></h4>
   
    <div class="card card-body">
        <form id="formPost">
            <div class="d-flex align-items-center mb-4">
                <div class="md-form m-0 md-outline input-with-post-icon">
                    <input type="text" id="inputFromDate" class="form-control datepicker m-0">
                    <label for="example">From Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <div class="md-form m-0 md-outline input-with-post-icon ml-3">
                    <input type="text" id="inputToDate" class="form-control datepicker m-0">
                    <label for="example">To Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <button type="submit" class="btn btn-indigo py-2"><i class="fal fa-search"></i></button>
            </div>
        </form>

        <table id="data-table" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>#Bill No</th>
                    <th>Customer Name</th>
                    <th>Paid</th>
                    <th>Payment Method</th>
                    <th>Paid Date</th>
                    <th style="width: 50px">Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            $('.datepicker').pickadate();

            dataTable.getData();

            getAmountSummery();
        });

        //get data
        var dataTable = {
            table: null,
            filter: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>><"row"<"col-sm-12"<tr>>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                    buttons: dataTable.button,
                    ajax: {
                        url: "/Selling/GetPaymentSummaryDataTable",
                        type: "POST",
                        data: function(d) {
                            d.filters = dataTable.filter;
                        }
                    },
                    columns:
                    [
                        {
                            data: "ReceiptSn", "render": function(data, type, row, meta) {
                                return `<a class="blue-text" href="/Selling/SellingReceiptMultiple/${row.SellingPaymentId}">${data}</a>`;
                            }
                        },
                        { data: "CustomerName" },
                        { data: "PaidAmount", "render": dataTable.addSign },
                        { data: "PaymentMethod" },
                        { data: "PaidDate", "render": function(data) { return moment(data).format('DD MMM YYYY') } },
                        {
                            data: "PersonalLoanId", "render": function(data, type, row, meta) {
                                return `<a class="delete far fa-trash-alt" data-url="/PersonalLoan/DeleteLoan/${data}"></a>`
                            }
                        }
                    ],
                    columnDefs: [
                        //{ 'searchable': false, 'targets': [2, 3, 4, 5] },
                        { 'className': "text-right", "targets": [2] },
                        { 'className': "text-left", "targets": [1] }
                    ]
                });
            },
            operand: {
                Equal: 0,
                NotEqual: 1,
                GreaterThan: 2,
                LessThan: 3,
                GreaterThanOrEqual: 4,
                LessThanOrEqual: 5,
                Contains: 6,
                StartsWith: 7,
                EndsWith: 8
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function(data) { return `${data}/-` },
            button: {
                buttons: [{
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: '',
                    exportOptions: {
                        //columns: [0,1] //Column value those print
                                                                                                     },
                    customize: function(win) {
                        $(win.document.body).prepend(`<nav class="mb-3 navbar blue-bg">${$('#printBrand').html()}</nav><h3 class="h3-responsive">${$('h4').text()}</h3>`);
                    },
                    autoPrint: true
                }],
                dom: {
                    button: {
                        className: 'btn btn-dark btn-rounded btn-sm my-0'
                    }
                }
            }
        }

        //selectors
        const formPost = document.getElementById("formPost");
        const table = document.getElementById("data-table");

        formPost.addEventListener('submit', function(evt) {
            evt.preventDefault();

            const inputFromDate = formPost.inputFromDate.value;
            const inputToDate = formPost.inputToDate.value;

            dataTable.filter = [];

            if (inputFromDate)
                dataTable.filter.push({ Field: "PaidDate", Value: inputFromDate, Operand: dataTable.operand.GreaterThanOrEqual });

            if (inputToDate)
                dataTable.filter.push({ Field: "PaidDate", Value: inputToDate, Operand: dataTable.operand.LessThanOrEqual });


            dataTable.getData();


            const data = {
                fromDate: inputFromDate,
                toDate: inputToDate
            };

            getAmountSummery(data);
        });

        function getAmountSummery(dates) {
            //for get and set total amount
            const totalAmount = document.getElementById('totalAmount');
            const url = "/Selling/GetPaymentSummaryAmount";

            $.ajax({
                type: "POST",
                url,
                data: dates,
                success: function(response) {
                    totalAmount.innerText = `(Total: ${response})`;
                }
            });
        }

        //on delete
        table.addEventListener('click', function (evt) {
            const onDelete = evt.target.classList.contains("delete");
            if (onDelete) {
                const element = evt.target.parentElement.parentElement;
                const url = evt.target.getAttribute("data-url");
                if (!url) return;

                const isConfirm = confirm("Are you sure you want to delete?");
                if (!isConfirm) return;

                axios.get(url).then(res => {
                    if (res.data) element.remove();
                }).catch(err => console.log(err));
            }
        });
    </script>
}


