@{
    ViewData["Title"] = "Product Brand";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        table .delete i { pointer-events: none }
    </style>
}


<div class="container mt-3">
    <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
            <h4 class="mb-3 page-header">Product Brand</h4>
            <div class="card card-body p-4 px-5">
                <form id="formBrand">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="md-form mt-0 mb-0 flex-1">
                            <input id="inputBrandName" autocomplete="off" type="text" class="form-control" required />
                            <label for="inputBrandName">Brand Name</label>
                            <span id="existError" class="field-validation-error"></span>
                        </div>

                        <button id="btnSubmit" type="submit" class="btn blue-bg-btn btn-rounded btn-sm my-4 waves-effect">Add Brand</button>
                    </div>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th><strong>Brand Name</strong></th>
                            <th class="action-td-size"><strong>Update</strong></th>
                            <th class="action-td-size"><strong>Delete</strong></th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function() {
            $('#element').toast('show');
        })


        const form = document.getElementById('formBrand');
        const existError = document.getElementById('existError');
        const tbody = document.getElementById('tbody');

        //add brand
        form.addEventListener('submit', function(evt) {
            evt.preventDefault();

            existError.textContent = '';
            const model = { BrandName: form.inputBrandName.value };

            $.ajax({
                type: "POST",
                url: "/ProductBrand/CreateBrand",
                data: model,
                success: function() {
                    getData();
                },
                error: function(error) {
                    existError.textContent = error.responseText;
                }
            })
        });


        //get data
        function getData() {
            $.ajax({
                url: `/ProductBrand/GetData`,
                success: function(data) {
                    let html = ''
                    data.forEach(row => {
                        html += `<tr>
                            <td>${row.BrandName}</td>
                            <td class="text-center"><a href="/ProductBrand/Edit/${row.ProductBrandId}"><i class="far fa-edit"></i></a></td>
                            <td class="text-center"><a id="${row.ProductBrandId}" class="delete"><i class="far fa-trash-alt"></i></a></td>
                            </tr>`
                    });
                    tbody.innerHTML = html;
                },
                error: function(error) {
                    console.log(error);
                }
            })
        }

        //remove
        const row = tbody.addEventListener('click', function(evt) {
            const onDelete = evt.target.classList.contains('delete');

            if (!onDelete) return;

            $.ajax({
                type: "POST",
                url: `/ProductBrand/Delete/${evt.target.id}`,
                success: function() {
                    evt.target.parentElement.parentElement.remove();
                },
                error: function(error) {
                    console.log(error);
                    alert(error.responseText);
                }
            })
        });

        getData();
    </script>
}
