
@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Styles{
    <style>
        table tr td p{ margin-bottom: 0; color: #777 }

        .remove { cursor: pointer }
        .remove:hover { color: #ff0000 }
        #formPayment { padding: 15px 0; color: #4f4f4f; }
        #formPayment ul { list-style-type: none; padding: 0; }
        #formPayment ul li strong { font-weight: 500; }
    </style>
}

<div class="m-md-3">
    <h4 class="mb-3 page-header">Purchase</h4>

    <section class="my-4">
        <div class="row">
            <div class="col-lg-8 mb-3">
                <div class="card px-4 mb-3">
                    <div class="md-form">
                        <input id="inputProductName" autocomplete="off" class="form-control" type="text">
                        <label for="inputProductName">Find Product By Name</label>
                        <span id="error" class="field-validation-error"></span>
                    </div>  
                </div>

                <div class="card card-body">
                    <form id="tableForm">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th><strong>Product</strong></th>
                                    <th><strong>Selling Unit.P</strong></th>
                                    <th><strong>Quantity</strong></th>
                                    <th><strong>Purchase Unit.P</strong></th>
                                    <th><strong>Total Price</strong></th>
                                    <th style="width: 10px"></th>
                                </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>
                        <input id="btnTableForm" type="submit" class="d-none"/>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card card-body">
                    <form id="formPayment">
                        <ul id="payment-area">
                            <li class="d-flex justify-content-between align-items-center">
                                <strong>Total Purchase Price</strong>
                                <strong>৳<span id="totalPrice"></span></strong>
                            </li>
                            <li class="md-form">
                                <label for="inputDiscount">Discount</label>
                                <input id="inputDiscount" type="number" min="0" class="form-control" />
                            </li>
                            <li class="d-flex justify-content-between align-items-center green-text">
                                <strong>Total Payable</strong>
                                <strong>৳<span id="totalPayable"></span></strong>
                            </li>
                            <li class="md-form">
                                <label for="inputPaid">Total Paid</label>
                                <input id="inputPaid" type="number" min="0" class="form-control" />
                            </li>
                            <li class="d-flex justify-content-between align-items-center orange-text">
                                <strong>Total Due</strong>
                                <strong>৳<span id="totalDue"></span></strong>
                            </li>
                            <li class="md-form">
                                <select id="selectPaymentMethod" class="mdb-select" style="position: absolute; top: 1rem; left: 0px; height: 0px; width: 0px; opacity: 0; padding: 0px; pointer-events: none; display: inline !important;">
                                    <option value="" selected>[ Payment Method ]</option>
                                    <option>Cash</option>
                                    <option>Bank</option>
                                    <option>Cheque</option>
                                    <option>bkash</option>
                                </select>
                            </li>
                            <li class="md-form">
                                <label for="inputMemoNumber">Memo Number</label>
                                <input id="inputMemoNumber" type="text" class="form-control"/>
                            </li>
                            <li class="md-form pt-3">
                                <input id="inputPurchaseDate" type="text" class="form-control datepicker" required />
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <div class="md-form mt-4 flex-1">
                                    <input placeholder="Find Vendor" type="text" id="inputFindVendor" class="form-control" autocomplete="off" />
                                    <div id="VendorInfo" class="text-center"></div>
                                </div>

                                <input type="hidden" id="hiddenVendorId" />
                                <a id="vendorAddClick" data-url="/Vendor/Create" class="btn-floating btn-sm purple-gradient" title="Add New" data-toggle="modal">
                                    <i class="fal fa-user-plus"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="mt-4 text-center">
                            <i id="vendor-error" class="mt-2 text-center red-text"></i>
                            <button type="submit" id="btnPurchase" class="btn btn-deep-purple btn-rounded btn-block mt-0">PURCHASE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Insert Modal -->
<div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>

@section Scripts {
    <partial name="_UnobtrusiveAjaxPartial" />
    <script src="~/page-js/product-purchase.js?v=1.6"></script>
}

