
@{
    ViewData["Title"] = "Bank Withdrew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles
{
    <style>
        .select-wrapper input.select-dropdown { margin-bottom: 7px }
        #bankName { padding-bottom: 5px; margin-bottom: 26px; color: #497fff; }
    </style>  
}

<div class="m-md-3">
    <h4 class="page-header mb-3">Bank Withdrew</h4>

    <div class="card card-body">
        <form id="formPost">
            <div class="form-row align-items-center">
                <div class="md-form">
                    <select ID="selectBankAccount" asp-items="ViewBag.bankName" class="mdb-select" required>
                        <option value="">[ SELECT ACCOUNT ]</option>
                    </select>
                </div>
                <div class="md-form mx-4">
                    <label for="inputAmount">Amount</label>
                    <input id="inputAmount" min="0" type="number" class="form-control" required />
                </div>
                <div class="md-form">
                    <label for="inputDetails">Details</label>
                    <input id="inputDetails" type="text" class="form-control" />
                </div>
                <div class="md-form mx-4">
                    <input id="inputActivityDate" type="text" class="form-control datepicker" required />
                </div>
                <div class="md-form m-0">
                    <input type="submit" value="Withdrew" class="btn btn-blue btn-rounded" />
                </div>
            </div>
        </form>
        
        <section class="mt-2">
            <h5 id="bankName" class="mb-3 font-weight-bold"></h5>
            <table id="data-table" class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th><strong>Amount</strong></th>
                    <th><strong>Details</strong></th>
                    <th><strong>Date</strong></th>
                    <th style="width: 30px"><strong>Delete</strong></th>
                </tr>
                </thead>
            </table>
        </section>
    </div>
</div>


@section scripts{
    <script>
        $(function() {
            // material select initialization
            $('.mdb-select').materialSelect();

            //date picker
            $('.datepicker').pickadate().val(moment(new Date()).format('DD MMMM, YYYY'));
        });

        //dropdown selected index 0
        const clearMDBDropDownList = function(mainSelector) {
            const content = mainSelector.querySelectorAll('.select-dropdown li');
            content.forEach(li => {
                content[0].classList.add('active', 'selected');

                if (li.classList.contains('selected')) {
                    li.classList.remove(['active', 'selected']);
                    li.click();
                    return;
                }
            });
        }

        //get data
        var dataTable = {
            table: null,
            filter: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/BankAccount/WithdrewData",
                        type: "POST",
                        data: function(d) {
                            d.filters = dataTable.filter;
                        }
                    },
                    columns:
                    [
                        { data: "Amount", "render": dataTable.addSign },
                        { data: "Details" },
                        { data: "ActivityDate", "render": function(data) { return moment(data).format('DD MMM YYYY') } },
                        { data: "BankWithdrewId", "render": function(data) { return `<a style="color:#ff0000" class="delete fas fa-trash-alt" href="/BankAccount/DeleteWithdrew/${data}"></a>`; } }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function(data) { return `${data}/-` }
        }

        //selectors
        const form = document.getElementById("formPost");

        //submit form
        form.addEventListener('submit', function(evt) {
            evt.preventDefault();
            const model = {
                BankAccountId: +this.selectBankAccount.value,
                Amount: +this.inputAmount.value,
                Details: this.inputDetails.value,
                ActivityDate: new Date(this.inputActivityDate.value)
            }

            const url = '/BankAccount/Withdrew';
            const options = {
                method: 'POST',
                url: url,
                data: model
            }
            axios(options).then(response => {
                dataTable.getData();
                bankInfo(form.selectBankAccount.value);
                resetForm(form);
            }).catch(error => {
                console.log(error.response);
            })
        });

        //on change bank name
        form.selectBankAccount.addEventListener('change', function() {
            const id = this.value;
            if (!id) return;

            dataTable.filter = [{ Field: "BankAccountId", Value: id, Operand: "==" }];
            dataTable.getData();

            bankInfo(id);
        })

        //bank info
        function bankInfo(id) {
            $.get('/BankAccount/AccountDetails', { bankId: id }, function(response) {
                bankName.textContent = `${response.AccountName} ৳${response.Balance}`;
                form.inputAmount.setAttribute('max', response.Balance);
            });
        }

        //reset form
        function resetForm(form) {
            form.inputAmount.value = "";
            form.inputAmount.previousElementSibling.classList.remove('active');

            form.inputDetails.value = "";
            form.inputDetails.previousElementSibling.classList.remove('active');

            clearMDBDropDownList(form);
        }

        //Delete click
        $('#data-table').on("click", ".delete", function(evt) {
            evt.preventDefault();

            var row = $(this).closest("tr");
            var btnDelete = $(this);
            const url = $(this).attr('href');

            if (!url) return;

            if (confirm("Are you sure you want to delete?")) {
                $.post(url, function(response) {
                    if (!response) {
                        alert('This data already used in others place');
                        btnDelete.removeAttr("href");
                        return;
                    }
                    row.hide();
                    bankInfo(form.selectBankAccount.value);
                });
            }
        });
    </script>
}

