@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <link href="~/css/dashboard.css?v=1" rel="stylesheet" />
}

<div class="container-fluid">
    <section class="z-depth-1 p-2 d-print-none justify-content-between d-flex">
        <form id="formPost">
            <div class="d-flex align-items-center">
                <div class="md-form m-0 md-outline input-with-post-icon">
                    <input type="text" id="inputFromDate" class="form-control datepicker m-0">
                    <label for="example">From Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <div class="md-form m-0 md-outline input-with-post-icon ml-3">
                    <input type="text" id="inputToDate" class="form-control datepicker m-0">
                    <label for="example">To Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <button type="submit" class="btn btn-indigo py-2"><i class="fal fa-search"></i></button>
            </div>
        </form>
        <button onclick="window.print()" class="btn btn-deep-purple btn-sm">Print</button>
    </section>

    <h4 id="dateContainer">
        <span id="showFromDate"></span>
        <span id="showToDate"></span>
    </h4>

    <div class="row my-4">
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card mb-md-0 mb-4">
                <div class="card-header lime darken-2 white-text">
                    <h5 class="font-weight-500 my-1">
                        <i class="fas fa-exchange-alt"></i>
                        Deposit & Withdraw
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center font-weight-bold">
                        <span class="badge badge-success mb-1">
                            <i class="fas fa-arrow-down"></i>
                            D: ৳<span id="setDeposit">0</span>
                        </span>
                        <span class="badge badge-danger">
                            <i class="fas fa-arrow-up"></i>
                            W: ৳<span id="setWithdrew">0</span>
                        </span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card mb-md-0 mb-4">
                <div class="card-header orange white-text">
                    <h5 class="font-weight-500 my-1">
                        <i class="fas fa-landmark"></i>
                        Loan
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center font-weight-bold orange-text">
                        ৳<span id="setLoan">0</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card mb-md-0 mb-4">
                <div class="card-header info-color white-text">
                    <h5 class="font-weight-500 my-1">
                        <i class="fas fa-industry-alt"></i>
                        Advance
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center font-weight-bold light-blue-text">
                        ৳<span id="setAdvance">0</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card mb-md-0 mb-4">
                <div class="card-header danger-color-dark white-text">
                    <h5 class="font-weight-500 my-1">
                        <i class="far fa-credit-card"></i>
                        Expense
                    </h5>
                </div>
                <div class="card-body">
                    <h4 class="text-center font-weight-bold red-text">
                        ৳<span id="setExpense">0</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div class="col-lg-6 col-md-6">
            <div class="my-4 card card-body">
                <h4 class="font-weight-bold mb-0">Sales: <em class="text-muted" id="setSale">0</em></h4>
                <p class="mb-3 text-primary"><strong>Prev. Due Paid: <span id="setPrevDuePaid">0</span></strong></p>
               
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x success-color z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Sale Payment</p>
                                <h5 id="setSalePayment" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x teal darken-4 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Cash Sale</p>
                                <h5 id="setCashSale" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Due Sale</p>
                                <h5 id="setSaleDue" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x warning-color-dark z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Discount</p>
                                <h5 id="setDiscount" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="my-4 card card-body">
                <h4 class="font-weight-bold mb-3">Purchase</h4>
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x primary-color z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase</p>
                                <h5 id="setPurchase" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x red darken-4 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Discount</p>
                                <h5 id="setPurchaseDiscount" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x deep-purple darken-3 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase Due</p>
                                <h5 id="setPurchaseDue" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase Paid</p>
                                <h5 id="setPurchasePayment" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(function() {
            $('.datepicker').pickadate();

            getAmountSummery();
        });

        formPost.addEventListener('submit', function(evt) {
            evt.preventDefault();

            const inputFromDate = formPost.inputFromDate.value;
            const inputToDate = formPost.inputToDate.value;

            const data = {
                fromDate: inputFromDate,
                toDate: inputToDate
            }

            getAmountSummery(data);

            const showFromDate = document.getElementById("showFromDate");
            const showToDate = document.getElementById("showToDate");

            showFromDate.textContent = inputFromDate;
            showToDate.textContent = inputToDate? ` - ${inputToDate}`:"";
        });

        function getAmountSummery(data) {
            //for get and set total amount
            const setSale = document.getElementById('setSale');
            const setSaleDiscount = document.getElementById('setDiscount');
            const setSaleDue = document.getElementById('setSaleDue');
            const setCashSale = document.getElementById('setCashSale');
            const setSalePayment = document.getElementById('setSalePayment');
            const setPrevDuePaid = document.getElementById('setPrevDuePaid');

            const setPurchase = document.getElementById('setPurchase');
            const setPurchaseDiscount = document.getElementById('setPurchaseDiscount');
            const setPurchaseDue = document.getElementById('setPurchaseDue');
            const setPurchasePayment = document.getElementById('setPurchasePayment');

            const setExpense = document.getElementById('setExpense');
            const setAdvance = document.getElementById('setAdvance');
            const setLoan = document.getElementById('setLoan');
            const setDeposit = document.getElementById('setDeposit');
            const setWithdrew = document.getElementById('setWithdrew');

            const url = "/Dashboard/GetAmountByDate";
            $.ajax({
                type: "POST",
                url,
                data,
                success: function(response) {
                    console.log(response)

                    setSale.innerText = response.Sale;
                    setSaleDiscount.innerText = response.SaleDiscount;
                    setSaleDue.innerText = response.SaleDue;
                    setSalePayment.innerText = response.SalePayment;
                    setCashSale.innerText = response.CashSale;
                    setPrevDuePaid.innerText = (response.SalePayment- response.CashSale);

                    setPurchase.innerText = response.Purchase;
                    setPurchaseDiscount.innerText = response.PurchaseDiscount;
                    setPurchaseDue.innerText = response.PurchaseDue;
                    setPurchasePayment.innerText = response.PurchasePayment;

                    setExpense.innerText = response.Expense;
                    setAdvance.innerText = response.Advance;
                    setLoan.innerText = response.Loan;
                    setDeposit.innerText = response.Deposit;
                    setWithdrew.innerText = response.Withdrew;
                }
            });
        }
    </script>
}