@using AhmedTrading.Repository
@model DashboardSummaryViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<select class="mdb-select md-form" searchable="Search here..">
    <option value="" disabled selected>Choose your country</option>
    <option value="1">USA</option>
    <option value="2">Germany</option>
    <option value="3">France</option>
    <option value="3">Poland</option>
    <option value="3">Japan</option>
</select>

    <div class="container-fluid">
        <section class="mt-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="row mt-4 mb-3">
                            <div class="col-md-3 col-3 text-left pl-4">
                                <div class="p-2 m-2 fa-lg">
                                    <i class="far fa-business-time fa-2x text-success"></i>
                                </div>
                            </div>
                            <div class="col-md-9 col-9 text-right pr-5">
                                <p class="text-dark mb-2">Sales</p>
                                <h4 class="ml-4 font-weight-bold h4-responsive">৳@Model.Sale</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="row mt-4 mb-3">
                            <div class="col-md-3 col-3 text-left pl-4">
                                <div class="p-2 m-2 fa-lg">
                                    <i class="fas fa-analytics fa-2x blue-text"></i>
                                </div>
                            </div>
                            <div class="col-md-9 col-9 text-right pr-5">
                                <p class="text-dark mb-2">Purchase</p>
                                <h4 class="ml-4 font-weight-bold h4-responsive">৳@Model.Purchase</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="row mt-4 mb-3">
                            <div class="col-md-3 col-3 text-left pl-4">
                                <div class="p-2 m-2 fa-lg">
                                    <i class="far fa-user-chart fa-2x red-text"></i>
                                </div>
                            </div>
                            <div class="col-md-9 col-9 text-right pr-5">
                                <p class="text-dark mb-2">Customer Due</p>
                                <h4 class="ml-4 font-weight-bold h4-responsive">৳@Model.CustomerDue</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <div class="row mt-4 mb-3">
                            <div class="col-md-3 col-3 text-left pl-4">
                                <div class="p-2 m-2 fa-lg">
                                    <i class="far fa-shopping-bag fa-2x orange-text"></i>
                                </div>
                            </div>
                            <div class="col-md-9 col-9 text-right pr-5">
                                <p class="text-dark mb-2">Expense</p>
                                <h4 class="ml-4 font-weight-bold h4-responsive">৳@Model.Expense</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="mb-5 mt-2">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="far fa-money-bill-alt fa-2x primary-color-dark z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="mb-0">Advance</p>
                            <h5 class="font-weight-bold mb-0">৳@Model.Advance</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-chart-line fa-2x success-color-dark z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="mb-0">Commission</p>
                            <h5 class="font-weight-bold mb-0">৳@Model.Commission</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-chart-bar fa-2x lime darken-3 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="mb-0">Loan</p>
                            <h5 class="font-weight-bold mb-0">৳@Model.Loan</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="media white z-depth-1 rounded">
                        <i class="fas fa-chart-pie fa-2x pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                        <div class="media-body mt-3">
                            <p class="mb-0">Vendor Due</p>
                            <h5 class="font-weight-bold mb-0">৳@Model.VendorDue</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>  

@section Scripts {
    <script>
        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').materialSelect();
        });
    </script>
}