@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <section class="card card-body">
        <form id="formPost">
            <div class="d-flex align-items-center">
                <div class="md-form m-0 md-outline input-with-post-icon">
                    <input type="text" id="inputFromDate" class="form-control datepicker m-0">
                    <label for="example">From Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <div class="md-form m-0 md-outline input-with-post-icon ml-3">
                    <input type="text" id="inputToDate" class="form-control datepicker m-0">
                    <label for="example">To Date</label>
                    <i class="fas fa-calendar input-prefix indigo-text"></i>
                </div>
                <button type="submit" class="btn btn-indigo py-2"><i class="fal fa-search"></i></button>
            </div>
        </form>
    </section>

    <section class="row">
        <div class="col-lg-6">
            <div class="my-4 card card-body">
                <h4 class="font-weight-bold mb-3">Sales Report</h4>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x success-color z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Sale</p>
                                <h5 id="setSale" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-line fa-2x warning-color-dark z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Discount</p>
                                <h5 id="setDiscount" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-bar fa-2x teal darken-4 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Due Sale</p>
                                <h5 id="setSaleDue" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-pie fa-2x pink p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Cash Sale</p>
                                <h5 id="setSalePayment" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="my-4 card card-body">
                <h4 class="font-weight-bold mb-3">Purchase Report</h4>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="far fa-money-bill-alt fa-2x primary-color z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase</p>
                                <h5 id="setPurchase" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-line fa-2x red darken-4 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Discount</p>
                                <h5 id="setPurchaseDiscount" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-bar fa-2x deep-purple darken-3 z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase Due</p>
                                <h5 id="setPurchaseDue" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-pie fa-2x teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body mt-3">
                                <p class="mb-0">Purchase Paid</p>
                                <h5 id="setPurchasePayment" class="font-weight-bold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <div class="list-group list-group-flush z-depth-1 rounded my-4">
        <h5 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Expense
            <span id="setExpense" class="badge badge-danger badge-pill">0</span>
        </h5>
        <h5 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Advance
            <span id="setAdvance" class="badge badge-success badge-pill">0</span>
        </h5>
        <h5 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Loan
            <span id="setLoan" class="badge badge-secondary badge-pill">0</span>
        </h5>
        <h5 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Deposit
            <span id="setDeposit" class="badge badge-primary badge-pill">0</span>
        </h5>
        <h5 class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Withdrew
            <span id="setWithdrew" class="badge badge-default badge-pill">0</span>
        </h5>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.datepicker').pickadate();

            getAmountSummery();
        });

        formPost.addEventListener('submit', function (evt) {
            evt.preventDefault();

            const inputFromDate = formPost.inputFromDate.value;
            const inputToDate = formPost.inputToDate.value;

            const data = {
                fromDate: inputFromDate,
                toDate: inputToDate
            }

            getAmountSummery(data);
        });

        function getAmountSummery(data) {
            //for get and set total amount
            const setSale = document.getElementById('setSale');
            const setSaleDiscount = document.getElementById('setDiscount');
            const setSaleDue = document.getElementById('setSaleDue');
            const setSalePayment = document.getElementById('setSalePayment');

            const setPurchase = document.getElementById('setPurchase');
            const setPurchaseDiscount = document.getElementById('setPurchaseDiscount');
            const setPurchaseDue = document.getElementById('setPurchaseDue');
            const setPurchasePayment = document.getElementById('setPurchasePayment');


            const setExpense = document.getElementById('setExpense');
            const setAdvance = document.getElementById('setAdvance');
            const setLoan = document.getElementById('setLoan');
            const setDeposit = document.getElementById('setDeposit');
            const setWithdrew = document.getElementById('setWithdrew');

            const url = "/Dashboard/GetAmountByDate";
            $.ajax({
                type: "POST",
                url,
                data,
                success: function (response) {
                    console.log(response)

                    setSale.innerText = response.Sale;
                    setSaleDiscount.innerText = response.SaleDiscount;
                    setSaleDue.innerText = response.SaleDue;
                    setSalePayment.innerText = response.SalePayment;

                    setPurchase.innerText = response.Purchase;
                    setPurchaseDiscount.innerText = response.PurchaseDiscount;
                    setPurchaseDue.innerText = response.PurchaseDue;
                    setPurchasePayment.innerText = response.PurchasePayment;

                    setExpense.innerText = response.Expense;
                    setAdvance.innerText = response.Advance;
                    setLoan.innerText = response.Loan;
                    setDeposit.innerText = response.Deposit;
                    setWithdrew.innerText = response.Withdrew;
                }
            });
        }
    </script>
}