@using AhmedTrading.Repository
@model CustomerAddUpdateViewModel


@{
    ViewData["Title"] = "Add New Customer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .phone-container { display: flex; margin: 1.5rem 0; align-items: center; }
        .phone-container .add-element { margin-left: -23px; padding-bottom: 10px; }
        .phone-container .btn-floating.btn-sm { width: 22px; height: 22px; }
        .phone-container .btn-floating.btn-sm i { font-size: .70rem; line-height: 2px; pointer-events: none }
    </style>
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-10 col-lg-9 mx-auto">
            <div class="card card-body p-4 px-5">
                <form id="customer-form" asp-action="Add">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <h4 class="page-header mt-3 text-center">Add New Customer</h4>

                    <div class="md-form mb-5">
                        <input id="CustomerName" name="CustomerName" type="text" class="form-control" required />
                        <label for="CustomerName">Customer Name</label>
                    </div>

                    <div class="md-form mb-5">
                        <input id="CustomerAddress" name="CustomerAddress" type="text" class="form-control" />
                        <label for="CustomerAddress">Address</label>
                    </div>

                    <div id="phone-wrapper">
                        <div class="phone-container">
                            <div class="md-form m-0 flex-grow-1">
                                <input id="phone-0" name="PhoneNumbers[0].Phone" type="number" required class="form-control valid-check" minlength="11" />
                                <label for="phone-0">Phone Number (Primary)</label>
                                <input type="hidden" value="true" name="PhoneNumbers[0].IsPrimary">
                            </div>
                            <div class="add-element">
                                <a class="btn-floating btn-sm bg-success add m-0"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button id="btnSubmit" type="submit" disabled class="btn blue-bg-btn btn-rounded my-4 waves-effect">Add Customer</button>
                        <a asp-action="List">Back to List</a>
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/page-js/customer-add.js?v=.01"></script>
}

