@using AhmedTrading.Repository
@model CustomerAddUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .phone-container { display: flex; margin: 1.5rem 0; align-items: center; }
        .phone-container .add-element { margin-left: -23px; padding-bottom: 10px; }
        .phone-container .btn-floating.btn-sm { width: 22px; height: 22px; }
        .phone-container .btn-floating.btn-sm i { font-size: .70rem; line-height: 2px; pointer-events: none }
    </style>
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 col-lg-10 mx-auto">
            <div class="card card-body p-4">
                <h4 class="page-header mt-3 text-center">Update Customer</h4>

                <form id="customer-form" asp-action="Update">
                    <input id="customerId" type="hidden" name="CustomerId" value="@Model.CustomerId">

                    <div class="md-form mb-5">
                        <input asp-for="CustomerName" class="form-control" required />
                        <label asp-for="CustomerName">
                            <span class="individual-field">Name</span>
                            <span class="corporate-field">Concerned Person</span>
                        </label>
                    </div>

                    <div class="md-form mb-5">
                        <input asp-for="CustomerAddress" class="form-control" />
                        <label asp-for="CustomerAddress">Address</label>
                    </div>

                    <div id="phone-wrapper" class="mb-5">
                        <partial name="_UpdatePhonePartial" model="@Model.PhoneNumbers" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <button id="btnSubmit" class="btn blue-bg-btn btn-rounded my-4 waves-effect" type="submit">Update Customer</button>
                        <a asp-action="List">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/page-js/customer-update.js?v=.21"></script>
}


