@using AhmedTrading.Repository
@model VendorCommissionAddModel
@{
    Layout = null;
}

    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header blue-bg white-text">
                <h4 class="m-0"><i class="fas fa-plus-circle"></i> Add Commission</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form data-ajax-update="#InsertModal" data-ajax="true" data-ajax-url="/VendorCommission/Create" data-ajax-method="post" data-ajax-success="onCreateSuccess">
                    <div class="md-form">
                        <input id="inputProductName" autocomplete="off" required type="text" class="form-control" />
                        <label for="inputProductName">Product Name</label>
                        <input id="productId" type="hidden" name="ProductId" />
                    </div>
                    <div class="md-form">
                        <input asp-for="Commission" type="number" required class="form-control" />
                        <label asp-for="Commission">Commission Amount</label>
                        <span asp-validation-for="Commission"></span>
                    </div>
                    <div class="form-group">
                        <label for="selectMonthName">Month</label>
                        <select id="selectMonthName" name="MonthDate" class="form-control" required>
                            <option value="">SELECT MONTH</option>
                        </select>
                    </div>
                    <input id="hiddenVendorId" type="hidden" name="VendorId" />
                    <div class="text-center mt-1-half">
                        <button type="submit" class="btn blue-bg-btn mb-1 waves-effect waves-light">Create <i class="fas fa-check ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
