@using AhmedTrading.Repository
@model VendorCommissionAddModel
@{
    ViewBag.Title = "Add Commission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4 class="page-header mb-3">Add Commission</h4>
                <div class="card card-body">
                    <form asp-action="Create">
                        <div class="md-form">
                            <input id="inputProductName" autocomplete="off" required type="text" class="form-control" />
                            <label for="inputProductName">Product Name</label>
                            <input id="productId" type="hidden" name="ProductId" />
                        </div>
                        <div class="md-form">
                            <input asp-for="Commission" type="number" required class="form-control" />
                            <label asp-for="Commission">Commission Amount</label>
                            <span asp-validation-for="Commission"></span>
                        </div>
                        <div class="form-group">
                            <label for="selectMonthName">Month</label>
                            <select id="selectMonthName" name="MonthDate" class="form-control" required>
                                <option value="">SELECT MONTH</option>
                            </select>
                        </div>
                        <input type="hidden" name="VendorId" value="@ViewBag.VendorId" />
                        <button type="submit" class="btn blue-bg-btn mb-1 waves-effect waves-light">Create <i class="fas fa-check ml-1"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        const year = new Date().getFullYear();
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        months.forEach((month, i) => {
            var option = document.createElement("OPTION");
            option.text = `${month}  ${year}`;
            option.value = `1/${i + 1}/${year}`;
            document.getElementById('selectMonthName').options.add(option);
        });


        //product autocomplete
        $('#inputProductName').typeahead({
            minLength: 1,
            displayText: function (item) {
                return item.ProductName;
            },
            afterSelect: function (item) {
                this.$element[0].value = item.ProductName
            },
            source: function (request, result) {
                $.ajax({
                    url: "/Product/FindProductsByName",
                    data: { name: request },
                    success: function (response) { result(response); },
                    error: function (err) { console.log(err) }
                });
            },
            updater: function (item) {
                document.getElementById('productId').value = item.ProductId;
                return item;
            }
        });
    </script>
}