@using AhmedTrading.Repository
@model ProductViewModel
@{
    ViewData["Title"] = "Add Product Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <style>
        .remove { cursor: pointer }
        .remove:hover { color: #ff0000 }

        #formProduct .select-wrapper input.select-dropdown { margin: 0 0 .5rem; }
    </style>
}

<div class="m-md-3">
    <h4 class="mb-3 page-header">Product Info</h4>
    <section class="card px-4 mt-3">
        <form id="formProduct" asp-action="AddProduct">
            <div class="d-flex align-items-center">
                <div class="md-form">
                    <select name="ProductBrandId" id="selectProductBrand" asp-items="ViewBag.ProductBrand" class="mdb-select m-0" required>
                        <option value="" selected>Select Brand</option>
                    </select>
                </div>
                <div class="md-form mx-4">
                    <input asp-for="ProductName" class="form-control" required />
                    <label for="ProductName">Product Name</label>
                    <span asp-validation-for="ProductName"></span>
                </div>
                <div class="md-form mx-4">
                    <input asp-for="Stock" class="form-control" type="number" step="0.01" value="0" required />
                    <label for="Stock">Stock</label>
                    <span asp-validation-for="Stock"></span>
                </div>
                <div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" value="Ton" class="custom-control-input" id="1" name="UnitType">
                        <label class="custom-control-label" for="1">Ton</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" checked value="Ream" class="custom-control-input" id="2" name="UnitType">
                        <label class="custom-control-label" for="2">Ream</label>
                    </div>
                </div>

                <div class="text-right">
                    <input type="submit" value="Add Product" class="btn blue-bg-btn btn-rounded" />
                </div>
            </div>
        </form>
    </section>  

    <section class="card card-body mt-3">
        <h4 id="categoryName" class="font-weight-bold mb-3"></h4>

        <table id="data-table" class="table table-bordered">
            <thead>
                <tr>
                    <th><strong>Product Name</strong></th>
                    <th><strong>Selling Unit Price</strong></th>
                    <th><strong>Stock</strong></th>
                    <th style="width: 30px"></th>
                    <th style="width: 30px"></th>
                </tr>
            </thead>
        </table>
    </section>
</div>

@section Scripts{
    <script>
        $(function() {
            // Material Select Initialization
            $('.mdb-select').materialSelect();

            dataTable.getData();
        });

        const dataTable = {
            table: null,
            filter: null,
            init: function() {
                dataTable.table = $("#data-table").DataTable({
                    processing: true,
                    serverSide: true,
                    dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>><"row"<"col-sm-12"<tr>>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                    buttons: dataTable.button,
                    ajax: {
                        url: "/Product/GetProductByBrand",
                        type: "POST",
                        data: function(d) {
                            d.filters = dataTable.filter;
                        }
                    },
                    columns:
                    [
                        { data: "ProductName" },
                        { data: "SellingUnitPrice", "render": dataTable.addSign },
                        { data: "Stock", "render": function(data, type, row, meta) { return `${data} ${row.UnitType}` } },
                        { data: "ProductId", "render": function(data) { return `<a class="far fa-trash-alt red-text delete" href="/Product/DeleteProduct/${data}"></a>`; } },
                        { data: "ProductId", "render": function(data) { return `<a class="fas fa-edit" href="/Product/UpdateProduct/${data}"></a>`; } }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [3, 4] },
                        { 'sortable': false, 'targets': [3, 4] },
                        { 'className': "text-left", "targets": [0] },
                        { 'className': "text-right", "targets": [1, 2] }
                    ]
                });
            },
            addSign: function(data) { return `${data}/-` },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            button: {
                buttons: [{
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: '',
                    exportOptions: {
                        columns: [0,1,2] //Column value those print
                    },
                    customize: function (win) {
                        $(win.document.body).prepend(
                            `<nav class="mb-3 navbar blue-bg">
                               <span class="navbar-brand ml-1">Ahamed Trading</span>
                              </nav>
                             <h4 class="h4-responsive">${$('#categoryName').text()}</h4>`);
                    },
                    autoPrint: true
                }],
                dom: {
                    button: {
                        className: 'btn btn-dark btn-rounded btn-sm my-0'
                    }
                }
            }
        }

        //delete click
        $('#data-table').on("click", ".delete", function(evt) {
            evt.preventDefault();

            var row = $(this).closest("tr");
            var btnDelete = $(this);
            const url = $(this).attr('href');

            if (!url) return;

            if (confirm("Are you sure you want to delete?")) {
                $.post(url, function(response) {
                    if (response === -1) {
                        alert('This data already used in others place');
                        btnDelete.removeAttr("href");
                        return;
                    }
                    row.hide();
                });
            }
        });

        // selectors
        const selectProductBrand = document.getElementById('selectProductBrand');

        // event change category
        selectProductBrand.addEventListener('change', function() {
            const id = this.value;
            if (!id) return;

            const categoryName = document.getElementById('categoryName')
            categoryName.textContent = this.options[this.selectedIndex].text;

            dataTable.filter = [{ Field: "ProductBrandId", Value: id, Operand: "==" }];
            dataTable.getData();
        });
    </script>
}
