
@{
    ViewData["Title"] = "Find Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <style>
        .info-container { opacity: 0; transition: opacity .3s ease-in-out }
        .info-container.show { opacity: 1; transition: opacity .3s ease-in-out }

        ul.striped li { padding: .6rem; font-size: 1.1rem; }
        ul.striped li strong { color: #777 }
        ul.striped li span { margin-left: 5px }
    </style>
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h4 class="mb-3 page-header d-print-none">Find Product</h4>

        <div class="card card-body mb-3 p-5">
            <div class="md-form mt-0 mb-0 flex-1">
                <input id="inputProductName" autocomplete="off" type="text" class="form-control" required />
                <label for="inputProductName">Product Name</label>
            </div>
        </div> 

        <div class="card card-body p-5 info-container">
            <div class="text-center">
                <h5><strong id="productName2"></strong></h5>
            </div>
            <ul class="striped list-unstyled mb-0">
                <li><strong>Stock:</strong><span id="stock"></span></li>
                <li><strong>Brand:</strong><span id="productBrand"></span></li>
                <li><strong>Name:</strong><span id="productName"></span></li>
                <li><strong>Selling Price:</strong><span id="sellingPrice"></span></li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //append data
        function appendData(product) {
            const infoContainer = document.querySelector('.info-container');
            const stock = document.getElementById('stock');

            infoContainer.classList.add('show')

            stock.textContent = `${product.Stock} ${product.UnitType}`;
            stock.className = product.Stock > 0 ? "text-success" : "text-danger";

            document.getElementById('productBrand').textContent = product.BrandName;
            document.getElementById('productName').textContent = product.ProductName;
            document.getElementById('productName2').textContent = product.ProductName;
            document.getElementById('sellingPrice').textContent = product.SellingUnitPrice;
        }

        //product autocomplete
        $('#inputProductName').typeahead({
            minLength: 1,
            displayText: function(item) {
                return item.ProductName;
            },
            afterSelect: function(item) {
                this.$element[0].value = ''
            },
            source: function(request, result) {
                $.ajax({
                    url: "/Product/FindProductsByName",
                    data: { name: request },
                    success: function(response) { result(response); },
                    error: function(err) { console.log(err) }
                });
            },
            updater: function(item) {
                console.log(item);
                appendData(item);
                return item;
            }
        });
    </script>
}
